In [1]:
##################### Tuples ###############################
# immutable sequence, a tuple's contents cannot be changed.

In [2]:
t=(3,5,6,10)
t

(3, 5, 6, 10)

In [3]:
for n in t:
    print(n)

3
5
6
10

In [4]:
len(t) # length of a tuple
t[0]
t[-3] # backward

5

In [5]:
t[0]=2 # tples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#################### Lists ###############################
# dynamic data structures, list items may be added to them or removed from them durin a program

In [ ]:
lst = list()

In [ ]:
lst

In [7]:
int_lst=[1,56,910]
type(int_lst)

list

In [8]:
float_lst=[3.4,5.2,6.9]
type(float_lst)

list

In [9]:
lst=['hello',5,3.4]
type(lst)

list

In [ ]:
lst = list(range(1,20, 2))
lst

In [ ]:
# print list items
for item in lst:
    print(item)

In [ ]:
# using index
i = 0
while i < len(lst):
    print(lst[i])
    i += 1

In [ ]:
# Access using index
lst[0] = 100

In [ ]:
# search for an item
if 5 in numbers:
    print(True)
else:
    print(False)

In [10]:
# Concatenating
numbers = int_lst + float_lst
numbers

[1, 56, 910, 3.4, 5.2, 6.9]

In [ ]:
############ List Slicing ################
# Take a slice from a list using --- list[start : end]

In [12]:
#using index
numbers[2:5] # from index 2 to 3
numbers[:3] # from the start to index 3
numbers[3:] # from index 3 to the end of the list
numbers[:] # the whole list
numbers[-5:] # backword indexing: from last up to 5 places

[56, 910, 3.4, 5.2, 6.9]

In [ ]:
############# List operations ####################
numbers.append(5) # append at end of list
numbers.insert(2, 100) # insert (index, value)
numbers.index(5) # search by value

In [ ]:
numbers.sort() # sorting in ascending order
#numbers.remove(5) # removes an item by value
numbers.reverse()
numbers

In [13]:
# Copy a list into a new list
new_numbers = list()
for n in numbers:
    new_numbers.append(n)
new_numbers

[1, 56, 910, 3.4, 5.2, 6.9]

In [14]:
#################### List of Lists (2D) ####################
members=[['sam',21],
         ['Tom',30],
         ['Mark',23]]
members # 3 rows and 2 columns

[['sam', 21], ['Tom', 30], ['Mark', 23]]

In [ ]:
members[1]  # second row

In [ ]:
members[1][1] # second row , second column
for i in range(3):
    print(i)

In [ ]:
### Assign random numbers to a list
import random

random_list = [[0,0,0,0],
               [0,0,0,0],
               [0,0,0,0]]
def createList(rows, cols):
    for r in range(rows):
        for c in range(cols):
            random_list[r][c]= random.random()
    print(random_list)
createList(3,4)

In [1]:
####################### Dictionaries ###########################
#  Each element in a dictionary has two parts: a key and a value.

In [2]:
# empty dictionary
d = {}
type(d)

dict

In [13]:
members = {'x':101,'y':202, 'z':303}
members

{'x': 101, 'y': 202, 'z': 303}

In [15]:
# retrun a value using its key
members['x'] = 200
members

{'x': 200, 'y': 202, 'z': 303}

In [5]:
#length
len(members)

3

In [6]:
if 'x' in members:
    print(True)
else:
    print(False)

True

In [7]:
if 'x' not in members:
    print(True)
else:
    print(False)

False

In [8]:
# To add an element, assign a value to a new key
members['d'] = 505
members

{'x': 101, 'y': 202, 'z': 303, 'd': 505}

In [9]:
# remove an element
del members['x']
members

{'y': 202, 'z': 303, 'd': 505}

In [10]:
# dictionary of a list
grades= {
    'Sam':[50,40,20],
    'Tom':[33,28,60],
    'Mark':[23,11,90]
}
grades

{'Sam': [50, 40, 20], 'Tom': [33, 28, 60], 'Mark': [23, 11, 90]}

In [11]:
# loop over dictionary
# use key to print the value associated with
for k in grades:
    print(k, grades[k])

Sam [50, 40, 20]
Tom [33, 28, 60]
Mark [23, 11, 90]

In [12]:
grades.keys() # return dictionary keys without values
grades.values() # return dictionary values without keys
grades.pop('Tom') # return the value associated with 'Tom' then removes it from the dictionary
grades.clear() # clears the dictionary
grades

{}